:root {
    /* Feel free to configure these and make it look how you want it segations. */
    --background-color: #414141;
    --tab-background-color: rgb(84, 84, 84);
    --tab-title-background-color: #3b3b3b;
    --border-color: rgba(255, 255, 255, 0.3);
}

body {
        /* DEFAULT OS UI      iOS / Mac      Windows   Android     Basic Web Fallback           Linux                    Fallback             Emoji Fonts  */
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, "Helvetica Neue", Arial, "Noto Sans", 'Liberation Sans', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    overflow: hidden;
    font-size: 1rem;
}

body {
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 200px 1fr;
    margin: 0;
    color: white;
}

#sidebar h1 {
    padding: 5px 0 3px 0;
    text-align: center;
}

#sidebar .button {
    -webkit-user-select: none;
    user-select: none;
    background-color: var(--background-color);
    color: white;
    cursor: pointer;
    justify-content: center;
    padding: .75em 0 .75em 0;
    line-height: 1.5;
    overflow: visible;
    border: none;
    border-bottom: 1px solid var(--border-color);
}

#sidebar .button.active {
    position: relative;
    border: 1px solid var(--border-color);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
    border-width: 1px;
    width: calc(100% + 1px);
    background-color: var(--tab-background-color);
    font-weight: 600;;
    z-index: 4;
}

#sidebar {
    text-align: center;
    padding: 20px  0 0 5px;
}

#sidebar h1 {
    font-size: 1.4rem;
    margin-top: -10px;
}

#sidebar .button {
    width: 100%;
    display: block;
    text-align: left;
    padding-left: 10px;
    transition: background-color 0.5 ease-in-out;
}

/* TAB CSS */
#settings {
    background-color: var(--tab-background-color);
    padding: 20px 20px 0 20px;
    height: calc(100vh - 40px);
    width: calc(100% - 50px);
    border: 1px solid var(--border-color);
    border-radius: 5px;

    margin: 10px 0 0 0;
}

#settings .tab-header {
    padding: 0 0 20px 0;
    border-bottom: 1px solid var(--border-color);
}


#settings .tab-header .title {
   font-size: 32px;
}

#settings .content {
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
}

.description {
    font-size: 14px;
    color: #adadad;
    margin-top: -5px;
    margin-left: 35px;
    max-width: 300px;
}

.checkbox-wrapper * {
    box-sizing: border-box;
}

.checkbox-wrapper .cbx {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s ease;
    display: inline-block;
}

.checkbox-wrapper .cbx:not(:last-child) {
    margin-right: 6px;
}

.checkbox-wrapper .cbx:hover {
    background: rgba(255,255,255,0.06);
}

.checkbox-wrapper .cbx span {
    float: left;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    transform: scale(1);
    border: 1px solid #cccfdb;
    transition: all 0.2s ease;
    box-shadow: 0 1px 1px rgba(0,16,75,0.05);
}

.checkbox-wrapper .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper .cbx span:last-child {
    padding-left: 8px;
    line-height: 18px;
}

.checkbox-wrapper .inp-cbx {
    position: absolute;
    visibility: hidden;
}

.checkbox-wrapper .inp-cbx:checked + .cbx span:first-child {
    background: #07f;
    border-color: #07f;
    animation: wave-4 0.4s ease;
}

.checkbox-wrapper .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.checkbox-wrapper .inline-svg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

@media screen and (max-width: 640px) {
    .checkbox-wrapper .cbx {
        width: 100%;
        display: inline-block;
    }
}

@-moz-keyframes wave-4 {
    50% {
    transform: scale(0.9);
    }
}

@-webkit-keyframes wave-4 {
    50% {
    transform: scale(0.9);
    }
}

@-o-keyframes wave-4 {
    50% {
    transform: scale(0.9);
    }
}

@keyframes wave-4 {
    50% {
    transform: scale(0.9);
    }
}