:root { /* Fixed: Renamed from VARS to root, variables should work. */
    --background-color: #272727;
    --white: #fff;
}

body {
    background-color: var(--background-color);
    color: var(--white);
    min-width: 500px;
    min-height: 450px;
    padding: 0.5em;

}

label {
    color: var(--white);
    font-size: 20px; 
}


body {  
    font-family: Calibri, Helvetica, sans-serif;  
    background-color: #181414;  
    text-align: center;
}

h1 {
    color: white;
    font-family: sans-serif;
    font-size: 30px; 
}

p {
    color: white;
    font-family: sans-serif;
    font-size: 25px; 
}




/* The sizing of everything is too big. */